export AD_URL={{ AD_URL }}
export AD_DOMAIN={{ AD_DOMAIN }}
export AD_BASEDN={{ AD_BASEDN }}
export AD_BINDDN={{ AD_BINDDN }}
export AD_BINDDN_PASSWORD={{ AD_BINDDN_PASSWORD }}
export SECRET_KEY={{ SECRET_KEY }}
export ZOHO_AUTHTOKEN={{ ZOHO_AUTHTOKEN }}
export PAYPAL_RECEIVER_EMAIL={{ PAYPAL_RECEIVER_EMAIL }}
export SUPPORT_EMAIL_ADDRESS={{ SUPPORT_EMAIL_ADDRESS }}
export DISCOURSE_BASE_URL={{ DISCOURSE_BASE_URL }}
export DISCOURSE_SSO_SECRET={{ DISCOURSE_SSO_SECRET }}
