source {{ app_root }}/etc/ps1auth.conf
export AD_URL
export AD_DOMAIN
export AD_BASEDN
export AD_BINDDN
export AD_BINDDN_PASSWORD
export DJANGO_SETTINGS_MODULE
export SECRET_KEY
export SUPPORT_EMAIL_ADDRESS
export DISCOURSE_BASE_URL
export DISCOURSE_SSO_SECRET
