AD_URL={{ AD_URL }}
AD_DOMAIN={{ AD_DOMAIN }}
AD_BASEDN={{ AD_BASEDN }}
AD_BINDDN={{ AD_BINDDN }}
AD_BINDDN_PASSWORD={{ AD_BINDDN_PASSWORD }}
DJANGO_SETTINGS_MODULE={{ DJANGO_SETTINGS_MODULE }}
SECRET_KEY={{ SECRET_KEY }}
ZOHO_AUTHTOKEN={{ ZOHO_AUTHTOKEN }}
PAYPAL_RECEIVER_EMAIL={{ PAYPAL_RECEIVER_EMAIL }}
SUPPORT_EMAIL_ADDRESS={{ SUPPORT_EMAIL_ADDRESS }}
DISCOURSE_BASE_URL={{ DISCOURSE_BASE_URL }}
DISCOURSE_SSO_SECRET={{ DISCOURSE_SSO_SECRET }}
